.footer-container{
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: black;
}
.footer-container p{
    color:#f0ffff;
    padding: 3px;
    font-weight: bolder;
    font-size: 20px;
}

