.form-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    color: white;
    border-radius: 15px;
    position: fixed;
    left: 600px;
}
.form-container h2{
    font-size: 30px;
}

.form-container input {
    /* padding: 3px; */
    /* margin-bottom: 20px; */
    border: none;
    border-radius: 10px;
    width: 50%;
    font-size: 20px;
}

input:hover {
    transform: scale(1.1);
}

.form-btn {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    width: fit-content;
    border-radius: 10px;
    width: 50%;
    align-self: center;
    outline: none;
    cursor: pointer;
}

.form-container p {
    font-family: monospace;
    color:darkred;
    font-size: 17px;
}