.weather-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 20%;
  font-size: 20px;
  color: white;
  min-height: 100vh;
  margin: auto;
  padding: 10px;
  border-radius: 30px;
}


.date{
  font-size: 30px;
  font-weight: bolder;
}

.get-weather-btn{
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  margin-top: 15px;
  width: fit-content;
  border-radius: 10px;
  align-self: center;
  outline: none;
  cursor: pointer;
  font-size: larger;
}
.get-weather-btn:hover{
  color: grey;
}
.weather, .temperature{
  font-size: 20px;
}

.weather-container input {
  padding: 7px;
  font-size: 20px;
  outline: none;
  border-radius: 10px;
}
  
  